* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Nunito Sans", sans-serif;
}

body, article, input, select, section, div {
    transition: 0.1s ease-in-out;
}

body {
    min-height: 100vh;
}

a {
    text-decoration: none;
}

/*Light*/
#light {
    background-color: #f2f2f2;
}

#light body, html {
    background-color: #f2f2f2;
    height: 100vh;
}

#light button {
    color: black;
}

#light article{
    background-color: #f2f2f2;
}

#light a {
    color: black;
}


/*dark*/
#dark {
    background-color:  hsl(207, 26%, 17%);
    color: white;
    
}

#dark body, html {
    height: 100vh;
    background-color: #f2f2f2;
}

#dark button{
    color: white;
    background-color: hsl(209, 23%, 22%);
}

#dark article{
    color: white;
}

#dark a {
    color: white;
}




